# Виртуальное окружение
venv/
.venv/
# Кэш Python
__pycache__/
*.pyc
*.pyo

# Логи
logs/
*.log

# Настройки среды
.env
# 
Sammaryhelper/configs/
Sammaryhelper/sessions/
.vscode/
Sammaryhelper.egg-info/
Sammaryhelper/sh_profile.json
.roomodes
.git/
